.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  background-color: var(--blue-500);
  color: var(--gray-100);
  font-weight: bold;
  font-size: .875rem;
  transition: background-color .1s;
  cursor: pointer;
}

.submitButton:disabled {
  filter: brightness(70%);
  cursor: not-allowed;
}


.submitButton:not(:disabled):hover {
  background-color: var(--blue-300);
}